@import './base/forms/forms.scss';

// @import "./base/popup.scss";
// @import "./base/spollers.scss";
// @import "./base/tabs.scss";
// @import "./base/swiper.scss";
@import "./base/fullpage.scss";

// @import './libs/swiper.scss';
// @import './libs/tippy.scss';

[class*='-ibg'] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
[class*='-ibg_contain'] {
    img {
        object-fit: contain;
    }
}
