.page {
    &__main {
    }
    &__services {
    }
    &__works {
    }
    &__career {
    }
    &__blog {
    }
    &__testimonials {
    }
    &__skills {
    }
    &__contscts {
    }
}
.title {
    &__label {
        text-transform: uppercase;
        display: flex;
        font-weight: 500;
        font-size: rem(12);
        line-height: math.div(24, 12);
        letter-spacing: em(7.5, 12);
        color: $cinderColor;
        align-items: center;
        gap: rem(16);
        &::before {
            content: '';
            width: rem(16);
            height: rem(2);
            background-color: #d9d9d9;
        }
        &:not(:last-child) {
            margin-bottom: em(9, 12);
        }
    }
    &__value {
        font-family: $Jakarta;
        font-weight: 700;
        @include adaptiveValue('font-size', 36, 28);
        line-height: math.div(45, 36);
        span {
            color: $purpleColor;
        }
        &_big {
            font-size: rem(44);
            line-height: math.div(55, 44);
            @include adaptiveValue('font-size', 44, 36);
        }
    }
}
.text {
    line-height: math.div(32, 16);
    p {
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}
.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: rem(5);
    @include adaptiveValue('column-gap', 34, 15);
    &__item {
    }
    &__link {
        font-size: rem(22);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
}
.category-link {
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: rem(4);
    color: $cinderColor;
    font-size: rem(12);
    line-height: math.div(15, 12);
    padding: rem(4) rem(8);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            color: #fff;
            background-color: $purpleColor;
            border: 1px solid $purpleColor;
        }
    }
}
.date {
    border-radius: rem(4);
    padding: rem(4) rem(8);
    background-color: #fbfbfb;
    color: $cinderColor;
    font-size: rem(12);
    line-height: math.div(15, 12);
}
