.main-section {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
        column-gap: rem(20);
        @media (max-width: $mobile) {
            grid-template-columns: auto;
            row-gap: rem(30);
        }
    }
    &__content {
    }
    &__title {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 32, 16);
        }
    }
    &__text {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 40, 20);
        }
    }
    &__social {
    }
    &__decor {
    }
    &__image {
    }
}
.decor-main-section {
    max-width: rem(336);
    margin: 0 rem(22);
    justify-self: center;
    @media (min-width: $mobile) {
        width: 100%;
        //? Два варианта прибить картинку к правому краю
        // margin: rem(0) rem(0) rem(0) auto;
        justify-self: end;
    }
    @media (max-width: $mobile) {
        max-width: none;
        @include adaptiveValue('width', 336, 246);
    }
    &__box {
        position: relative;
        padding-bottom: percent(400, 336);
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: rem(16);
        }
        &::before {
            z-index: 1;
            background-color: $purpleColor;
            transform: rotate(-9.55deg);
        }
        &::after {
            z-index: 2;
            background: #eae6fe url('../../img/main/lines.svg') top right / 58%
                no-repeat;
        }
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: rem(16);
        overflow: hidden;
    }
    &__picture {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
}
//!==================================================!//
.services {
    background-color: #fbfbfb;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__title {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 100, 30);
        }
    }
    &__items {
        width: 100%;
        display: grid;
        @include adaptiveValue('gap', 56, 20);
        grid-template-columns: repeat(auto-fill, minmax(rem(361), 1fr));
    }
    &__item {
    }
}
.item-service {
    border-radius: rem(8);
    background-color: #fff;
    @include adaptiveValue('padding', 50, 15);
    display: grid;
    justify-items: center;
    text-align: center;
    &__icon {
        width: rem(56);
        height: rem(56);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(16);
        background-color: #f5f3fe;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    &__title {
        font-weight: 500;
        line-height: math.div(20, 16);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__text {
        font-size: rem(14);
        line-height: math.div(24, 14);
    }
}
//!==================================================!//
.works {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__header {
        display: flex;
        gap: rem(20);
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('margin-bottom', 144, 30);
    }
    &__title {
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: rem(16);
    }
    &__arrow {
        width: rem(40);
        height: rem(40);
        background-color: #eae6fe;
        border-radius: rem(16);
        color: $purpleColor;
        font-size: rem(12);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #d9d3fb;
            }
        }
        &_prev {
            transform: rotate(-180deg);
        }
        &_next {
        }
    }
    &__slider {
    }
    &__wrapper {
    }
    &__slide {
    }
}
.item-works {
    border: 1px solid #f5f5f5;
    border-radius: rem(8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__image-ibg {
        overflow: hidden;
        opacity: 0.5;
        padding-bottom: percent(295, 361);
        transition: all 0.3s ease 0s;
        img {
            object-position: top;
            transition: all 0.8s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    &__body {
        padding: rem(24);
        display: flex;
        flex-wrap: wrap;
        gap: rem(16);
    }
    &__title {
        flex: 1 1 100%;
    }
    &__link-title {
        line-height: math.div(20, 16);
        font-weight: 500;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
    &__category {
    }
    &__link {
        transition: color 0.3s ease 0s;
        font-size: rem(9.5);
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
}
