.main-section {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
        column-gap: rem(20);
        @media (max-width: $mobile) {
            grid-template-columns: auto;
            row-gap: rem(30);
        }
    }
    &__content {
    }
    &__title {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 32, 16);
        }
    }
    &__text {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 40, 20);
        }
    }
    &__social {
    }
    &__decor {
    }
    &__image {
    }
}
.decor-main-section {
    max-width: rem(336);
    margin: 0 rem(22);
    justify-self: center;
    @media (min-width: $mobile) {
        width: 100%;
        //? Два варианта прибить картинку к правому краю
        // margin: rem(0) rem(0) rem(0) auto;
        justify-self: end;
    }
    @media (max-width: $mobile) {
        max-width: none;
        @include adaptiveValue('width', 336, 246);
    }
    &__box {
        position: relative;
        padding-bottom: percent(400, 336);
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: rem(16);
        }
        &::before {
            z-index: 1;
            background-color: $purpleColor;
            transform: rotate(-9.55deg);
        }
        &::after {
            z-index: 2;
            background: #eae6fe url('../../img/main/lines.svg') top right / 58%
                no-repeat;
        }
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: rem(16);
        overflow: hidden;
    }
    &__picture {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
}
//!==================================================!//
.services {
    background-color: #fbfbfb;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__title {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 100, 30);
        }
    }
    &__items {
        width: 100%;
        display: grid;
        @include adaptiveValue('gap', 56, 20);
        grid-template-columns: repeat(auto-fill, minmax(rem(361), 1fr));
    }
    &__item {
    }
}
.item-service {
    border-radius: rem(8);
    background-color: #fff;
    @include adaptiveValue('padding', 50, 15);
    display: grid;
    justify-items: center;
    text-align: center;
    &__icon {
        width: rem(56);
        height: rem(56);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(16);
        background-color: #f5f3fe;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    &__title {
        font-weight: 500;
        line-height: math.div(20, 16);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__text {
        font-size: rem(14);
        line-height: math.div(24, 14);
    }
}
//!==================================================!//
.works {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__header {
        display: flex;
        gap: rem(20);
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('margin-bottom', 144, 30);
        @media (max-width: em(600)) {
            align-items: stretch;
            flex-direction: column;
        }
    }
    &__title {
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: rem(16);
        @media (max-width: em(600)) {
            justify-content: center;
        }
    }
    &__arrow {
        width: rem(40);
        height: rem(40);
        background-color: #eae6fe;
        border-radius: rem(16);
        color: $purpleColor;
        font-size: rem(12);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #d9d3fb;
            }
        }
        &.swiper-button-disabled {
            opacity: 0.5;
            cursor: default;
            background-color: #eae6fe;
            color: $purpleColor;
        }
        &_prev {
            transform: rotate(-180deg);
        }
        &_next {
        }
    }
    &__slider {
        @media (max-width: em(650)) {
            margin-right: rem(-15);
            padding-right: rem(15);
        }
    }
    &__wrapper {
    }
    &__slide {
    }
}
.item-works {
    border: 1px solid #f5f5f5;
    border-radius: rem(8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // min-height: 100%;
    &__image-ibg {
        overflow: hidden;
        opacity: 0.5;
        padding-bottom: percent(295, 361);
        transition: all 0.3s ease 0s;
        img {
            object-position: top;
            transition: all 0.8s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                img {
                    transform: scale(1.05);
                }
            }
        }
        @media (any-hover: none) {
            opacity: 1;
        }
    }
    &__body {
        padding: rem(24);
        display: flex;
        flex-direction: column;
        gap: rem(16);
        flex: 1 1 auto;
    }
    &__title {
        flex: 1 1 100%;
    }
    &__link-title {
        line-height: math.div(20, 16);
        font-weight: 500;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        gap: rem(16);
    }
    &__category {
    }
    &__link {
        transition: color 0.3s ease 0s;
        font-size: rem(9.5);
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
}
//!==================================================!//
.career {
    background-color: #fbfbfb;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__body {
        display: grid;
        @include adaptiveValue('column-gap', 144, 20);
        @include adaptiveValue('row-gap', 80, 20);
        grid-template-rows: auto;
        grid-template-columns: auto;
        @media (min-width: $mobile) {
            align-items: start;
            align-content: center;
            grid-auto-flow: column;
            grid-template-rows: auto 1fr;
            grid-template-columns: auto 1fr;
        }
    }
    &__title {
    }
    &__navigation {
        ._tab-spoller & {
            display: none;
        }
    }
    &__content {
        @media (min-width: $mobile) {
            @include adaptiveValue('padding-top', 32, 20);
            grid-row: span 2;
        }
    }
}
.navigation-career {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: rem(14) rem(24);
        line-height: math.div(19, 16);
        text-align: left;
        transition: all 0.3s ease 0s;
        &:not(:last-child) {
            margin-bottom: rem(9);
        }
        &::after {
            font-size: rem(12);
            @extend %ic;
            content: '\e905';
            display: none;
        }
        ._tab-spoller & {
            border: 1px solid #efefef;
            &::after {
                display: block;
                transform: rotate(90deg);
            }
        }
        &._tab-active {
            border-radius: rem(4);
            background-color: #fff;
            color: $purpleColor;
            &::after {
                display: block;
                ._tab-spoller & {
                    transform: rotate(-90deg);
                }
            }
            @media (min-width: $mobile) {
                &:not(:last-child) {
                    margin-bottom: rem(10);
                }
                &:not(:first-child) {
                    margin-top: rem(10);
                }
            }
        }
    }
}
.content-career {
    &__body {
        ._tab-spoller & {
            padding: rem(15) rem(0) rem(15) rem(0);
        }
    }
    &__header {
        @include adaptiveValue('padding-bottom', 32, 20);
        border-bottom: 1px solid #f1f1f1;
    }
    &__title {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div(23, 18);
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    &__link-title {
        text-decoration: underline !important;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: none !important;
            }
        }
    }
    &__location {
        font-size: rem(14);
        line-height: math.div(17, 14);
        color: $cinderColor;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__time {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(24, 14);
        color: $cinderColor;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__categories {
    }
    &__link {
    }
    &__main {
        @include adaptiveValue('padding-top', 32, 20);
    }
    &__list {
    }
}
.list-content-career {
    &__item {
        position: relative;
        color: $cinderColor;
        line-height: math.div(19, 16);
        padding-left: rem(28);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        &::before {
            position: absolute;
            content: '';
            background-color: #d9d9d9;
            width: rem(10);
            height: rem(2);
            top: em(10, 16);
            left: 0;
        }
    }
}
//!==================================================!//
.blog {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__title {
        @include adaptiveValue('margin-bottom', 144, 30);
    }
    &__items {
        align-self: stretch;
        display: grid;
        @include adaptiveValue('gap', 40, 20);
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
    }
    &__item {
    }
}
.item-blog {
    display: flex;
    border-radius: rem(8);
    overflow: hidden;
    border: 1px solid #f1f1f1;
    flex-direction: column;
    &__image-ibg {
        overflow: hidden;
        padding-bottom: percent(243, 361);
        img {
            transition: transform 0.8s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    &__body {
        padding: rem(16) rem(16) rem(24) rem(16);
        display: grid;
        gap: rem(16);
    }
    &__title {
    }
    &__link-title {
        font-weight: 500;
        line-height: math.div(24, 16);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
    &__date {
        justify-self: start;
    }
    &__text {
    }
    &__link {
        margin-top: rem(24);
        justify-self: center;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
}
//!==================================================!//
.testimonials {
    background-color: #fbfbfb;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__title {
        @include adaptiveValue('margin-bottom', 132, 80);
    }
    &__items {
        align-self: stretch;
        display: grid;
        @include adaptiveValue('oclumn-gap', 40, 20);
        row-gap: rem(80);
        grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
    }
    &__item {
    }
}
.item-testimonials {
    background-color: #fff;
    border-radius: rem(8);
    display: flex;
    flex-direction: column;
    padding-bottom: rem(24);
    @include adaptiveValue('padding-left', 32, 10);
    @include adaptiveValue('padding-right', 32, 10);
    &__avatar {
        border-radius: 50%;
        overflow: hidden;
        align-self: center;
        height: rem(96);
        width: rem(96);
        margin-top: rem(-48);
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    &__text {
        flex: 1 1 auto;
        line-height: math.div(28, 16);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 48, 20);
        }
    }
    &__name {
        font-size: rem(14);
        font-weight: 500;
        line-height: math.div(18, 14);
        &:not(:last-child) {
            margin-bottom: rem(9);
        }
    }
    &__profession {
        align-self: flex-start;
    }
}
//!==================================================!//
.skills {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }
    &__title {
        @include adaptiveValue('margin-bottom', 112, 30);
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__timeline {
    }
    &__content {
    }
}
.timeline {
    position: relative;
    display: grid;
    gap: rem(64);
    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        top: em(2.5, 16);
        left: rem(12);
        background-color: #f1f1f1;
    }
    &__item {
        position: relative;
        padding-left: rem(40);
        &::before {
            content: '';
            position: absolute;
            width: rem(16);
            height: rem(16);
            background-color: #f1f1f1;
            top: em(2.5, 16);
            left: rem(4);
            z-index: 3;
            border-radius: 50%;
        }
        &:last-child {
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                z-index: 2;
                height: 100%;
                left: rem(12);
                bottom: 0;
                background-color: #fff;
            }
        }
    }
    &__title {
        line-height: math.div(20, 16);
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
    &__text {
        color: $cinderColor;
        font-size: rem(14);
        line-height: math.div(17, 14);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    &__date {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(17, 14);
    }
}
.content-skills {
    &__text {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 64, 20);
        }
    }
    &__items {
        display: grid;
        gap: rem(40);
    }
    &__item {
    }
    &__label {
        font-weight: 500;
        line-height: math.div(17, 16);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__line {
        position: relative;
        background: #f5f3fe;
        height: rem(8);
        border-radius: rem(2);
        span {
            position: absolute;
            height: 100%;
            top: 0;
            border-radius: rem(2);
            left: 0;
            background-color: $purpleColor;
        }
    }
}
